.navigation {
    background-color: $color-main-1;
    height: 4rem;
    color: white;
    padding: 1rem 1.5rem;
    font-size: 3rem;

    display: flex;
    justify-content: space-between;

    &__right {
        
        & ul {
            display: flex;
            width: 40rem;

            & li {
                padding: 1rem 2rem;
            }
        }
    }
}